# Freebox Provider

A `terraform` provider to interact with the [Freebox modem](https://en.wikipedia.org/wiki/Freebox) from the [French internet service provider Free](https://en.wikipedia.org/wiki/Free_(ISP)) and built on top of [`free-go`](https://github.com/NikolaLohinski/free-go).

## Example

{{ tffile "examples/provider.freebox.tf" }}

{{ .SchemaMarkdown | trimspace }}
