# Freebox Provider

🔌 A `terraform` provider to interact with the [Freebox modem](https://en.wikipedia.org/wiki/Freebox) from the [French internet service provider Free](https://en.wikipedia.org/wiki/Free_(ISP))

## Example

{{ tffile "examples/provider.freebox.tf" }}

{{ .SchemaMarkdown | trimspace }}
