# `{{ .Name }}` (Resource)

{{ .Description | trimspace }}

## Example

{{ printf "examples/resource.%s.tf" .Name | tffile }}

{{ .SchemaMarkdown | trimspace }}

## Import

{{ printf "examples/import.%s.sh" .Name | codefile "sh" }}
