name: build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  mod:
    runs-on: ubuntu-latest
    name: Check modules
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: 1.21
      - uses: actions/checkout@v4
      - run: go mod tidy && git diff --exit-code go.mod go.sum
  build:
    name: Build the library
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.21
      - name: Build
        run: go build -v ./...
  test:
    runs-on: ubuntu-latest
    name: Run tests with mage
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21
      - name: Install Mage
        uses: magefile/mage-action@v3
        with:
          install-only: true
      - name: Install tooling
        run: mage install
      - name: Run tests
        run: mage go:test
